@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Montreal";
  src: url("https://www.upwork.com/static/fonts-global/4.0.1/neue-montreal-regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("https://www.upwork.com/static/fonts-global/4.0.1/neue-montreal-medium.woff2");
  font-weight: 500;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
